@(message: String)

@main(title = "WOT - welcome") {

    <h3>Welcome</h3>
    <div class="container">
        <div class="row">
        <img src="@routes.Assets.at("images/wot.png")" />
        <p>
            Battle your opponent to get the longest combination of tags. Be warned that if they complete the chain
            they claim the points.
        </p>
        </div>

        <div class="row">
        <form action="/game" method="POST">
            please enter your name:
            <input type="text" name="name">
            <input type="submit" value="Play"/>
        </form>
        </div>
    </div>

}